{% extends "base.html" %}
{% block title %}
    Lecturers
{% endblock %}

{% block content %}
    <h1 class="display-1" style="margin-bottom: 30px">Lecturers</h1>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Staff ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Course</th>
      <th scope="col">Date Of Birth</th>
      <th><a href="{% url "create_lecturer_form" %}" class="btn btn-primary" style="float: right;width: 168px">Create</a></td></th>
    </tr>
  </thead>
  <tbody>
  {% for lecturer in object_list %}
    <tr>
      <th scope="row">{{ lecturer.staffID }}</th>
      <td>{{ lecturer.firstName }}</td>
      <td>{{ lecturer.lastName }}</td>
      <td>{{ lecturer.email }}</td>
      <td>{{ lecturer.course }}</td>
      <td>{{ lecturer.dateOfBirth }}</td>
      <td>
          <a href="{% url "delete_lecturer" lecturer.id %}" class="btn btn-danger" style="float: right">Delete</a>
          <a href="{% url "update_lecturer" lecturer.id %}" class="btn btn-success" style="float: right; margin-right: 20px">Update</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}