{% extends "base.html" %}
{% block title %}
    Login
{% endblock %}

{% block content %}
    <h1 class="display-2" style="margin-bottom: 30px">Login</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_username" class="form-label">Username</label>
            <input type="text" id="id_username" name="username" class="form-control">
        </div>
        <div class="mb-3">
            <label for="id_password" class="form-label">Password</label>
            <input type="password" id="id_password" name="password" class="form-control">
        </div><br>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}