{% extends "base.html" %}
{% block title %}
    Create Semester
{% endblock %}

{% block content %}
    <h1 class="display-2" style="margin-bottom: 30px">Create Semester</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="year" class="form-label">Year</label>
            {{ form.year }}
        </div>
        <div class="mb-3">
            <label for="semester" class="form-label">Semester</label>
            {{ form.semester }}
        </div>
        <div class="mb-3">
            <label for="courses" class="form-label">Courses</label>
            {{ form.courses }}
        </div>
        <button class="btn btn-primary" type="submit">Create</button>
        <a class="btn btn-danger" href="{% url 'list_semesters' %}">Back</a>
    </form>
{% endblock %}