{% extends "base.html" %}
{% block title %}
    Update Semester
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <h1 class="display-2" style="margin-bottom: 30px">Update Semester</h1>
        <div class="mb-3">
            <label for="year" class="form-label">Year</label>
            {{ form.year }}
        </div>
        <div class="mb-3">
            <label for="semester" class="form-label">Semester</label>
            {{ form.semester }}
        </div>
        <button class="btn btn-success" type="submit">Update</button>
    </form>
{% endblock %}