{% extends "base.html" %}
{% block title %}
    Create Course
{% endblock %}

{% block content %}
    <h1 class="display-2" style="margin-bottom: 30px">Create Course</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="code" class="form-label">Code</label>
            {{ form.code }}
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            {{ form.name }}
        </div>
        <button class="btn btn-primary" type="submit">Create</button>
    </form>
{% endblock %}