{% extends "base.html" %}
{% block title %}
    Students
{% endblock %}

{% block content %}
    <h1 class="display-1" style="margin-bottom: 30px">Students</h1>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Date Of Birth</th>
      <th><a href="{% url "create_student" %}" class="btn btn-primary" style="float: right;width: 168px">Create</a></td></th>
    </tr>
  </thead>
  <tbody>
  {% for student in object_list %}
    <tr>
      <th scope="row">{{ student.id }}</th>
      <td>{{ student.firstName }}</td>
      <td>{{ student.lastName }}</td>
      <td>{{ student.email }}</td>
      <td>{{ student.dateOfBirth }}</td>
      <td>
          <a href="{% url "delete_student" student.id %}" class="btn btn-danger" style="float: right">Delete</a>
          <a href="{% url "update_student" student.id %}" class="btn btn-success" style="float: right; margin-right: 20px">Update</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}